{
  "extends": [
    "./eslint/eslint-defaults.json",
    "./eslint/eslint-babel.json"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es2022": true
  },
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  }
}
