LANGSMITH_API_KEY=your-langsmith-api-key-here
LANGCHAIN_TRACING_V2=true
LANGCHAIN_PROJECT=01-multiple-mcp-tools-template


OPENROUTER_API_KEY=your-openrouter-api-key-here

# URL-encode special characters in password (e.g. @ becomes %40)
MDB_MCP_CONNECTION_STRING=mongodb://myUser:myPassword@localhost:27017/dataprocessing?authSource=admin
